$color-theme: #45b4aa;

$color-theme-active: #8bcdff;

$color-green: #52e0e2;

$color-grey: #607280;

$color-red: #ff4e4e;

$border-color: #e1e6ec;

$active-color: #dfe3ea;

$active-backgroup: rgba(70, 180, 170, 0.1);

$title-color: #5f717f;

$name-color: #122030;

$delete-color: #eb6a67;

$box-shadow: rgba(69, 180, 170, 0.44)