<!DOCTYPE html>
<html class="no-js"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bcircle</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <script>
      var url = window.location.origin;
      // var JsSrc = (navigator.language || navigator.browserLanguage).toLowerCase();
      // if (JsSrc.indexOf('zh')>=0) window.location.href = url + '/dist/zh-cn/#/';
      window.location.href = url + '/dist/en-us/#/';
    </script>
  </body>
</html>