$color-theme: #45B4AA;

$color-theme-active: #8BCDFF;

$color-green: #52E0E2;

$color-grey: #607280;

$color-red: #ff4e4e;

$border-color: #E1E6EC;

$active-color: #DFE3EA;

$active-backgroup: rgba(70, 180, 170,0.1);

$title-color: #5F717F;

$name-color: #122030;

$delete-color: #EB6A67;