$color-theme: #8099e3;

$color-theme-active: #8bcdff;

$color-green: #52e0e2;

$color-grey: #999999;

$color-red: #ff4e4e;

$backgroup-color: #f0f4f8;

$border-color: #e2e2e2;

$border-color-2: #dce0e7;

$active-color: #dfe3ea;
